* {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
}

body {
    text-align: center;
}

h1 {
    font-family: cursive;
    margin: 10px 0;
}
.cell {
    display: inline-block;
    border: 1px solid black;
    width: 100px;
    height: 100px;
    margin-top: 1px;
    padding: 15px;
}

.cell p {
    text-align: center;
    margin-top: 33%;
    font-size: 24pt;
    font-family: Helvetica, Arial;
}

.cell.win {
    background-color: lightgreen;
}

button {
    border-radius: 30%;
    background-color: blue;
    font-size:  16pt;
    padding: 14px;
    margin: 10px;
    color: white;
    border: 3px solid lightblue;
    box-shadow: 1px 1px 2px 0px black;
    outline: none;
}

button:active {
    box-shadow: none;
    position: relative;
    top: 3px;
    left: 3px;
}
